html, body {
  height: 100%;
}

.main-container {
  display: flex;
  height: 100%;
}

.split-panel {
  width: 50%;
  margin: 20px;
  height: 90%;
}

#input-textarea, #output-textarea {
  width: 100%;
  height: 60%;
}

#start-button {
  float: right;
  margin-top: 10px;
  padding: 10px;
}

.output-stats-container {
  padding-top: 20px;
}
