<div class="main-container">
  <div class="split-panel">
    <textarea
      autofocus
      text=""
      id="input-textarea"
      name="text"
      rows="30"
      placeholder="Enter URLs to extract dates from..."></textarea>

    <br>

    <button id="start-button" onclick="startProcessingClicked()" type="button">Start Processing</button>
  </div>

  <div class="split-panel">
    <div id="output-container">
      <p> Example2.com | Aug 3, 2011 | 334ms </p>
    </div>
  </div>

</div>
