<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Single Page Application which is able to extract HTML dates from entered URLs.">

  <script type="text/javascript" src="/js/application.js" ></script>
  <script type="text/javascript" src="/js/sample.js" ></script>
  <link rel="stylesheet" href="/css/application.css">

  <title>HTML Date Extractor</title>
</head>

<body> <%= content %> </body>

</html>
